body{
    background-image: url(../resource/image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.719);
    background-blend-mode: overlay;
}
#main{
    width: 80%;
    margin: 0 auto;
}
.input{
    border-radius: 20px;
}
.btn-style{
    border: 2px solid rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.452);
    border-radius: 20px;
    font-weight: 600;
}
.btn-style:hover{
    background-color: rgb(68, 68, 253);
    border: 2px solid rgb(38, 0, 255);
}
#spinner{
    display: none;
    font-family: 'Poppins', sans-serif;
}
.details-button{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border: 2px solid rgb(40, 40, 246);
    border-radius: 5px;
    padding: 3px 8px;
    font-size: 18px;
    color: rgb(63, 63, 252);
}
.details-button:hover{
    background-color: rgb(52, 52, 218);
    color: white;
    transition: .2s;
}